<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.openforis.collect">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name=".android.gui.SurveyNodeActivity"
                android:label="@string/app_name"
                android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                    android:name="android.support.UI_OPTIONS"
                    android:value="splitActionBarWhenNarrow"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:label="@string/app_name"
                android:name=".android.gui.SettingsActivity"/>
        <activity
                android:label="@string/app_name"
                android:name=".android.gui.SettingsPreHoneycombActivity"/>

        <activity
                android:name="com.ipaulpro.afilechooser.FileChooserActivity"
                android:enabled="@bool/use_activity"
                android:exported="true"
                android:label="Select file">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.OPENABLE"/>

                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>

        <provider
                android:name="com.ianhanniballake.localstorage.LocalStorageProvider"
                android:authorities="com.ianhanniballake.localstorage.documents"
                android:enabled="@bool/use_provider"
                android:exported="true"
                android:grantUriPermissions="true"
                android:theme="@style/AppTheme"
                android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER"/>
            </intent-filter>
        </provider>
    </application>

</manifest>
